*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box1{
    background-color: rgb(255, 202, 202);
    border: solid black 2px;
    display:inline-block;
    padding: 22px;
    
}
.box1:hover{
     /* display: none; */
     visibility: hidden;
}

.box2{
    background-color: rgb(157, 255, 252);
    border: solid black 2px;
    display:inline-block;
    padding: 22px;
    
    
}


.span1{
    background-color: rgb(252, 255, 170);
    border: solid black 2px;
     padding: 22px;
     margin: 0;
}
.span2{
    background-color: rgb(234, 143, 255);
    border: solid black 2px;
     padding: 22px;
}